<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-content">
      <h3>lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae ipsa saepe veritatis ullam dolor ut cupiditate optio, dolores quae sunt accusantium praesentium vel eveniet repellat suscipit eum ad. Eveniet.</p>
      <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
    <div class="footer-social">
      <ul>
        <li><a href="http://wwww.twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></li>
        <li><a href="http://wwww.github.com/{{ site.github_username }}"><img src="" alt="">{{ site.github_username }}</a></li>
        <li><a href="http://wwww.google.com/{{ site.google_username }}"><img src="" alt="">{{ site.google_username }}</a></li>
      </ul>
    </div>
  </div>

</footer>
